
<!DOCTYPE html>
    <html lang="uk">
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>Сторінка користувача</title>
        <!--===============================================================================================-->
        <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/css/mainPage.css">
    </head>
    <body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('../images/img-02.jpg');"></div></div>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
        <form class="form-inline">
            <button class="btn menu-btn" type="button"><img src="~/images/logo_white.svg" id="logoimg" width="50" height="50">
            <span>Menu</span></button>
        </form>
    </nav>
    <div class="wrapper">
        <div class="menu">
            <nav class="menu-list bg-dark">
                <div><a href="#">Головна</a></div>
                @{
                    if (Context.Request.Cookies["user_priv"]=="true")
                {
                            <div id="userbtn"><a href="#">Користувачі</a></div>
                }
           }
                    <div><a href="#">Контакти</a></div>
                <div><a href="#">Портфоліо</a></div>
                <div id="exitbtn"><a href="#" >Вийти з системи</a></div>
            </nav>
        </div>
    </div>
                @RenderBody()
            </main>
    </div>
    <!--===============================================================================================-->
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
    <script src="~/js/Layout.js" type="module"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html>
